In [1]:
import json
import numpy as np
import pandas as pd

import csv
import ujson

In [3]:
# csv 파일 읽기
rating_data = pd.read_csv("D:/amazon sports/ratingdata.csv", names=['productId', 'userId','Rating','timestamp']) 
rating_data

           productId          userId  Rating   timestamp
0         0060009810  A1N070NS9CJQ2I     5.0  1026864000
1         0060009810  A3P0KRKOBQK1KN     5.0  1025913600
2         0060009810  A192HO2ICJ75VU     5.0  1025654400
3         0060009810  A2T278FKFL3BLT     4.0  1025395200
4         0060009810  A2ZUXVTW8RXBXW     5.0  1025222400
...              ...             ...     ...         ...
20994348  B01HJF704M  A1RH0C7YHWZQER     1.0  1493424000
20994349  B01HJF704M   A2955VBJEJZ4S     5.0  1492387200
20994350  B01HJF704M  A1FGCIRPRNZWD5     5.0  1490918400
20994351  B01HJF704M   AOEG7L8HI8DXJ     5.0  1487203200
20994352  B01HJF704M  A1BXCUK9AT7KWG     5.0  1486771200

[20994353 rows x 4 columns]

In [4]:
# 행 별로 결측값 퍼센트 측정

for col in rating_data.columns:
    pct_missing = rating_data[col].isnull().mean()
    print(f'{col} - {pct_missing :.1%}')

productId - 0.0%
userId - 0.0%
Rating - 0.0%
timestamp - 0.0%

In [6]:
product_list = list(rating_data.productId.unique())
product_list = sorted(product_list)

len(product_list)

756489

In [7]:
user_list = list(rating_data.userId.unique())
user_list = sorted(product_list)

len(user_list)

756489

In [8]:
# Summary statistics of 'rating' variable
rating_data[['Rating']].describe().transpose()

             count      mean       std  min  25%  50%  75%  max
Rating  20994353.0  4.073685  1.385792  1.0  4.0  5.0  5.0  5.0